{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Pages }}
      <div class="post on-list">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-content">
          {{ if .Params.showFullContent }}
          {{ .Content | markdownify }}
          {{ else if .Description }}
          {{ .Description | markdownify }}
          {{ else }}
          {{ if .Truncated }}
          {{ .Summary }}
          {{ end }}
          {{ end }}
        </div>
        {{ if .Params.Cover }}
          <img src="{{ .Params.Cover | absURL }}" style="width:400px;"  class="post-cover" alt="{{ .Title | plainify | default " " }}" />
        {{ end }}
        {{ if not .Params.showFullContent }}
        <div>
          <a class="read-more button"
            href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
        </div>
        {{ end }}
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
